# data
data/raw/
data/interim/
data/processed/

# outputs
outputs/
/models/
reports/
figures/

# large files
*.csv
*.parquet
*.npy
*.pkl
*.joblib

# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# env
myenv/
.venv/
venv/

# OS
.DS_Store
Thumbs.db